<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>{{systemName}} - logg inn</title>
<!-- Core CSS -->
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
<!-- Custom CSS -->
<link href="/public/css/custom.css" rel="stylesheet">
<!-- Icons -->
<link rel="icon" sizes="192x192" href="/public/images/icons/chrome-touch-icon-192x192.png">
<link rel="apple-touch-icon" href="/public/images/icons/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="/public/images/icons/favicon.ico">
<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=no' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
{{{content}}}
<!-- Validate login -->
<script src="/public/js/login-validate.js"></script>
</body>
</html>